*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{                                                                                         

    width: 100vw;
    height: 100vh;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #0000007b;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;

}

main{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}




.apresentacao {

    color: #FFFFFF;
    font-size: clamp(20px,5vw,60px);
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-style: italic;
    
}

h1 {

    color: #FFFFFF;
    font-size: clamp(40px, 10vw,120px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

    }

    p {

        color: white;
        font-family: 'Montserrat',sans-serif;
        font-style: italic;
        font-size: 35px;

    }

    #informacoes {

        width: 150px;
        height: 40px;
        background-color: #fae12c;
        border-style: none;
        border-radius: 5px 5px 5px 5px;
    }

